    /* Totalidad de la pagina */
*{
        
}

body{
    background-color: rgb(255, 253, 253);
    border: solid blue;
}

     /* Imagen */
    .img{
    width: 25%;
    margin-left: 6%;
    margin-top: 2%;
    border: solid 20px rgb(0, 0, 0)    }


.div-header{
    display: flex;
    margin-right: 20%;
}


        /* Presentación */
.presentacion{
    padding-top: 3.5%;
    margin-left: 5%;
    text-decoration:underline;
}


    /* Pararrofo */
.parrafo{
    padding-top: 4%;
    padding-left: 0.5%;
    font-size: 30px;
    color: blue;
    font: bolder;
    text-decoration: underline solid 4px;
} 



.parrafo-uno{
    margin-left: 20px;
}


.tarjetas{
 text-align: center;
 display: flex;
 gap: 20px;
 scale: 50%;
 margin-left: -500px;
 
 }


.div-tarjetas-uno{

        
    
}




.nombre-proyecto-1{
    
}



.div-tarjetas-dos{
     
}

.nombre-proyecto-2{
    
}



.tarjetas-tres{

}



.formulario{
    display:grid;
    gap: 20px;
    margin-left: 10%;
    width: 50%;
    margin-top:150px;
    
}


.parrago-fotter-uno{
    margin-left: -200px;
    text-align: center;
    color: white;
    font-weight: bolder;
    border: solid black;
}


.parrago-fotter-dos{
    margin-left: 500px;
    color: white;
    font-weight: bolder;
    border: solid black;
}

.parrago-fotter-tres{
    margin-left: 650px;
    color: white;
    font-weight: bolder;
    border: solid black;
}



/* .flecha-abajo{
    scale: 11%;
    margin-left: 90%;
    margin-top: -60%;

}

 */

 .lostresparrafos{
    display: flex;
    padding-left: 350px;
    gap: -33px;
    font-size: 17px; 
    background-color: rgba(0, 0, 0, 0.486);
    
}


@media  (max-width: 700px) {
    
    body{
        background-color: rgb(255, 253, 253);
        border: solid blue;
        
    }

    .img{
    height: 1210px;
        width: 1090px;
        scale: 20%;
        margin-top: -480px;
        margin-left: -430px;
        border: solid 20px rgb(0, 0, 0)
    }

    .presentacion{
        height: 20px;
        font-size: 30px;
        width: 50px;
        margin-top: 290px;
        margin-left: -680px;
        text-decoration:underline;
    }    

    .parrafo{
        
        padding-top: 320px;
        margin-left: -50px;
        font-size: 20px;
        color: blue;
        font: bolder;
        text-decoration: underline solid 4px;

        
    } 


    .parrafo-uno{
       
    }



    .tarjetas{
    display: grid;
    scale: 20%;
    margin-left: -150px;
    margin-top: -1050px;
    gap: 100px;
    }


    .formulario{
        margin-top: -750px;
    }

    .parrago-fotter-uno{
        font-size: 12px;
        margin-left: -330px; 
        
    }

    .parrago-fotter-dos{
        font-size: 12px;
        margin-left: 10px;
        
            }
            
            .parrago-fotter-tres{
                font-size: 12px;
                margin-left: 10px; }

                .lostresparrafos{
                    justify-content: center;
                }
}    
