    /* Totalidad de la pagina */
*{
        
}

body{
    background-color: rgb(255, 253, 253);
    border: solid blue;
    height: auto
    
}

     /* Imagen */
    .img{
    width: 25%;
    margin-left: 6%;
    margin-top: 2%;
    border: solid 20px rgb(0, 0, 0)    }


.div-header{
    display: flex;
    margin-right: 20%;
}


        /* Presentación */
.presentacion{
    padding-top: 3.5%;
    margin-left: 5%;
    text-decoration:underline;
}


    /* Pararrofo */
.parrafo{
    padding-top: 4%;
    padding-left: 0.5%;
    font-size: 30px;
    color: blue;
    font: bolder;
    text-decoration: underline solid 4px;
} 



.parrafo-uno{
    margin-left: 20px;
}

.titulo-proyectos{
    margin-left: 750px;
    font-size: 60px;
    text-decoration:underline;
}


.tarjetas{
 text-align: center;
 display: flex;
 gap: 20px;
 scale: 50%;
 margin-left: -500px;
 margin-top: -120px;
 
 }


.div-tarjetas-uno{
    color: black;
    font-weight: bolder;
    text-decoration:underline;
    font-size: 30px;
    border: solid black 10px;
    height: 800px;
     }

.btn-proyecto1{
    scale: 300%;
    margin-top: 30px;
    background-color: aqua ;
    border: solid  3px;
}


:hover .btn-proyecto1{
    cursor: pointer;
}


.div-tarjetas-dos{
    color: black;
    font-weight: bolder;
    text-decoration:underline;
    font-size: 30px;
    border: solid black 10px;
    height: 800px;
}


 .btn-proyecto2{
    scale: 300%;
    margin-top: 30px;
    background-color: aqua ;
    border: solid  3px;
}

:hover .btn-proyecto2{
    cursor: pointer;
}


.div-tarjetas-tres{
    color: black;
    font-weight: bolder;
    text-decoration:underline;
    font-size: 30px;
    border: solid black 10px;
    height: 800px;}

    .btn-proyecto3{
        scale: 300%;
        margin-top: 30px;
        background-color: aqua ;
        border: solid  3px;
    }


    :hover .btn-proyecto3{
        cursor: pointer;
    }


.nombre-proyecto-1{

}


.nombre-proyecto-2{
    
}



.tarjetas-tres{

}

.titulo-formulario{
    margin-left: 750px;
    font-size: 60px;
    text-decoration:underline;
}


.formulario{
    display:grid;
    gap: 20px;
    margin-left: 10%;
    width: 50%;
    margin-top:-170px;
    
}


.lostresparrafos{
    background-color: red;
    margin-top: 50px;
}

.parrago-fotter-uno{
    margin-left: -200px;
    text-align: center;
    color: white;
    font-weight: bolder;
    border: solid black;
}


.parrago-fotter-dos{
    margin-left: 500px;
    color: white;
    font-weight: bolder;
    border: solid black;
}

.parrago-fotter-tres{
    margin-left: 650px;
    color: white;
    font-weight: bolder;
    border: solid black;
}



/* .flecha-abajo{
    scale: 11%;
    margin-left: 90%;
    margin-top: -60%;

}

 */

 .lostresparrafos{
    display: flex;
    padding-left: 350px;
    gap: -33px;
    font-size: 17px; 
    background-color: rgba(0, 0, 0, 0.486);
    
}


@media  (max-width: 900px) {
    
    body{
           
        display: flex;
        background-color: rgb(255, 253, 253);
        border: solid blue;
        width: 2800px;
        background-color: red;
   
   
        
    }

    .img{
    
        width: 1090px;
        scale: 20%;
        margin-top: -274px;
        margin-left: -300px;
        border: solid 20px rgb(0, 0, 0)
    }

    .presentacion{
        height: 20px;
        font-size: 30px;
        width: 50px;
        margin-top: 167px;
        margin-left: -499px;
        text-decoration:underline;
    }    

    .parrafo{
        
        padding-top: 200px;
        margin-left: -50px;
        font-size: 20px;
        color: blue;
        font: bolder;
        text-decoration: underline solid 4px;

        
    } 


    .parrafo-uno{
       
    }

    .titulo-proyectos{
        background-color: red;
    }

    .tarjetas{
    justify-content: center;
    display: grid;
    scale: 20%;
    margin-left: -780px;
    margin-top: -500px;
    gap: 100px;
    }


    .formulario{
        margin-top: 1400px;
        margin-left: -630px;

        scale: 140%;
     
    }

    .parrago-fotter-uno{
        font-size: 12px;
        margin-left: -352px; 
        
    }


    .parrago-fotter-dos{
        font-size: 12px;
        margin-left: 10px;
        
        
            }
            
            .parrago-fotter-tres{
                font-size: 12px;
                margin-left: 10px; }

                .lostresparrafos{
                    justify-content: center;
                    margin-top: 2106.5px;
                    margin-left: -672px;
                    scale: 128.2%;
                    width: 10px;
                        } 
}    
